@using ProvisionPhonebook.Models.EntityFramework
@model List<TblKisi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Telefon</th>
        <th>Telefon Tipi</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach(var kisi in Model)
            {
            <tr>
                <td>@kisi.KisiID</td>
                <td>@kisi.KisiAd</td>
                <td>@kisi.KisiSoyad</td>
                <td>@kisi.KisiTel</td>
                <td>@kisi.KisiTelTip</td>
                <td><a href="/Default/Delete/@kisi.KisiID" class="btn btn-danger">Sil</a>
               <a href="/Default/Bring/@kisi.KisiID" class="btn btn-success">Güncelle</a></td>
            </tr>

            }
    </tbody>
</table>

